$header-background: #0B0C0D;

$philo-light-blue: #64BBFA;
$philo-blue: #3EACFA;
$philo-dark-blue: #2E99E6;

$philo-light-green: #D5E5AC;
$philo-green: #7AC943;
$philo-dark-green: #66933E;

$philo-white: #E5F4FF;
$philo-red: #D85636;

$philo-lightest-gray: #ddd;
$philo-light-gray: #aaa;
$philo-gray: #888;
$philo-dark-gray: #666;
$philo-darkest-gray: #333;

$font-dark: #888888;
$menu-background: #202225;
$menu-border: #3C3E3F;

$facebook-blue: #3B5998;
$twitter-blue: #55acee;